@font-face {
    font-family: "Open Sans";
    src: url(fontOS/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(fontOS/OpenSans-ExtraBold.ttf)
}

@font-face {
    font-family: "Montserrat";
    src: url(fontOS/Montserrat-VariableFont_wght.ttf)
}

* {
    box-sizing: border-box;
    font-family: "Open Sans";
}

h1, h2, h3, h4, p {
    margin: 0px;
}

ul {
    padding: 0;
}

h2 {
    font-size: 46.664px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2; 
}

.whole-page {
    width: 1440px;
    margin: 0 auto;
}

.navigation-line {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(77px, auto);
    margin-top: 28px;
}

.navigation-line img {
    padding-left: 70px; 
}

.navigation-line ul {
    list-style-type: none;
    display: flex;
    text-transform: uppercase;  
}
.navigation-line ul li a {
    color: rgb(84, 82, 79);
    text-decoration: none;
    margin-left: 54px;
    font-weight: bold;
}

.right-part-nav {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
}
.nav-input form input {
    width: 183px;
    height: 52px;
    border-radius: 30px;
    background-color: rgb(127, 119, 112, 0.4);
    border: 0px;
    padding: 0 20px 0 20px;
}
.nav-icon {
    font-size: 20px;
    color: rgb(84, 82, 79);
    align-self: center;
}

.main-banner {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-image: url(./img/girl-hiker-banner.png);
    height: 956px;
    padding-left: 70px;
}

.box1 {
    grid-row: 2;
    align-self: flex-end;    
    
}

.box2 {
    grid-row: 3;
    padding-top: 2em;  
    
}

.box3 {
    grid-row: 4;
    align-self: center;
}

.box4 {
    grid-row: 5;
}

.box1 h1 {
    font-family: "Open Sans Bold";
    color: rgb(222, 179, 126);
    line-height: 1.2;
    text-shadow: 0px 5px 5px rgba(84, 82, 79, 0.22);
    text-transform: uppercase;
    font-size: 69.283px;
    max-width: 450px;

}

.box2 p {
    font-size: 23px;
    color: rgb(84, 82, 79);
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-style: italic;
}

.box3 form button {
    font-size: 25px;
    font-family: "Open Sans Bold";
    color: rgb(119, 108, 100);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    width: 217px;
    height: 48px;
    border: 0px;
  }

.box4 p {
    font-size: 19px;
    color: rgb(84, 82, 79);
    line-height: 1.2;
    text-align: left;
    max-width: 450px;
    font-style: italic;
  }

.top {
    text-align: center;
    margin-top: 40px;
}

.top h2 {
    font-size: 50px;
    color: rgb(226, 163, 85);
    text-transform: uppercase;
    font-family: "Open Sans Bold";
}

.top p {
    color: rgb(127, 119, 112);
    font-size: 20px;
    max-width: 500px;
    display: inline-block;
    margin-top: 30px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 55px;
}

.card {
    margin-top: 75px;
    align-self: center;
    justify-self: center;
    background-color: rgb(127, 119, 112);
    max-width: 350px;
}    

.card img {
    max-width: 350px;
}
.card h3 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 44px;
    padding-left: 12px;
}

.card p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    max-width: 300px;
    padding-left: 12px;
    padding-bottom: 72px;
}

#loading-icon {
    font-size: 40px;
    color:#54524f;
    text-align: center;
    padding-top: 20px;
}

.button form button {
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.907;
    background-color: rgb(127, 119, 112);
    width: 267.2px;
    height: 60px;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;  
}

.button form {
    text-align: center;
}

.discount {
    margin: 180px 0 24px 0;
}
.string {
    display: flex;
    background-color: rgb(127, 119, 112);
    align-items: center; 
}
.discount-text {
    padding-left: 60px;
    width: 50%; 
}
.discount-image {
    height: 780px;
}

.string p {
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 0.81;
    padding-top: 50px;
    padding-bottom: 54px;
}
.string form button {
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.907;
    background-color: rgb(226, 163, 85);
    width: 267.2px;
    height: 60px;
    border-radius: 30px;
    border: 0px;
    cursor: pointer;   
}
.string:last-child {
    background-color: rgb(222, 179, 126);
}

.hiking-mountains {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgb(127, 119, 112);
    opacity: 0.8;
    height: 612px;
}

.shadow {
    align-self: center;
}
.shadow img {
    width: 450px;
    height: 410px;  
}

.hiking-text h2 {
    padding-top: 320px;
    }
    
.hiking-text p{
        padding-top: 44px;
        color: white;   
}

.explore-the-world {
    background-image: url(./img/explore-the-world-background.png);
    background-size: cover; 
    height: 100vh;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.explore-the-world h1 {
    font-family: "Open Sans Bold";
    font-style: italic;
    color: rgb(222, 179, 126);
    line-height: 1.2;
    text-shadow: 0px 5px 5px rgba(84, 82, 79, 0.22);
    text-transform: uppercase;
    font-size: 69.283px;
    max-width: 450px;
}

.explorer {
    grid-column: 3;
    align-self: center;

}

#explore {
    font-family: inherit;
    color: #54524f;
}

.three-paragraphs {
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;

    
}

.paragraph {
    display: inline-block;
    text-align: left;

    
}

.paragraph h4 {
    font-size: 26.73px;
    color: rgb(222, 179, 126);
    font-weight: bold;
    line-height: 0.997;
    
}

.paragraph p {
    color: rgb(51, 61, 66);
    line-height: 1.33;
    font-size: 15.2px;
    max-width: 300px; 
}

.quote {
    display: grid;
    grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto);
    margin-top: 199px;
}

.quote-header {
font-size: 80px;
margin: 0px;
color: rgb(63, 63, 63);
font-weight: bold;
line-height: 1.2;
justify-self: center;
font-style: italic;
}

.quote-body {
    font-size: 20px;
    color: rgb(63, 63, 63);
    line-height: 1.2;
    width: 633.6px;
    justify-self: center;
    text-align: center;
}

.quote-body p:last-child {
    font-size: 16.8px;
    font-weight: bold;
    line-height: 1.6;
    justify-self: center;
    margin-top: 48px;
}

.subscribe {
    background-color: rgb(222, 179, 126);
    height: 637px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    
}
.sub-title {
    align-self: flex-end;
    justify-self: center;
    grid-row: 3;

}

.sub-body {
    align-self: center;
    justify-self: center;
    grid-row: 4;
    font-size: 20px;
    color: rgb(84, 82, 79);
    line-height: 1.2;
    width: 600px;
    text-align: center;
    padding-top: 53px;
    
}

.sub-input {
    align-self: flex-start;
    justify-self: center;
    grid-row: 5;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100px 1fr;
    padding-top: 60px;
    
}

.child1 input {
    background-color: rgb(255, 255, 255);
    width: 527px;
    height: 50.4px;
    border-radius: 30px;
    border: 0px;
    padding-left: 20px;
}

.child2 input {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    background-color: rgb(84, 82, 79);
    width: 177.6px;
    height: 50.4px;
    border-radius: 30px;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: rgb(127, 119, 112);
    height: 780px;
    color: white;    
}

.footer h4 {
    font-size: 22.2px;
    font-family: "Montserrat";
    font-weight: 200;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    padding-bottom: 24px;
}

.footer div ul li {
    list-style-type: none;
} 


.footer p, li {
    font-family: "Montserrat";
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.icons {
    padding-top: 23px;
}

.icons img {
    padding-left: 10px;
}

.footer li {
    line-height: 1.5;
}

.column {
    align-self: center;
}

.column a {
    text-decoration: none;
    color: white;
}

.first {
    max-width: 500px;
    padding-left: 70px;
}
/*






 


  


   










