@font-face {
    font-family: "Open Sans";
    src: url(fontOS/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(fontOS/OpenSans-ExtraBold.ttf)
}

@font-face {
    font-family: "Open Sans Italic";
    src: url(fontOS/OpenSans-Italic.ttf);
}
* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
}

.whole-block {
    margin: 0 auto;
    width: 1440px; 
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 28px;
    padding-left: 72px;
    padding-right: 55px;
}

.links {
    position: absolute;
    left: 588px;
    top: 60px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.links li {
    text-transform: uppercase;
    font-family: "Open Sans";
    display: inline;
    margin-left: 59px;
    font-size: 16.667px;  
    font-weight: bold;
}

.links a {
    text-decoration: none;
    color: rgb(84, 82, 79);
}

.search {
    position: absolute;
    left: 1200px;
    top: 40px;
}

.search-bar input {
    width: 183px;
    height: 52px;
    border-radius: 30px;
    background-color: rgb(127, 119, 112, 0.4);
    border: 0px;
    padding: 20px 20px;
    font-family: "Open Sans";
    
}
.search-bar i {
    position: absolute;
    left: 130px;
    top: 16px;
    font-size: 25px;
    color: rgb(84, 82, 79);
}
/*
.shape {
  background-image: url("img/shape1.png");
  position: absolute;
  top: 120px;
  width: 1532px;
  height: 205px;
  z-index: 172;
} */

.title {
    font-family: "Open Sans Bold";
    color: rgb(222, 179, 126);
    line-height: 1.2;
    /* text-align: left; */
    text-shadow: 0px 5px 5px rgba(84, 82, 79, 0.22);
    text-transform: uppercase;
  }

h1.title {
    max-width: 400px;  
    position: absolute;
    left: 218px;
    top: 389.858px;
    z-index: 183;
    font-size: 59.283px;
}

.subtitle {
        font-size: 23px;
        font-family: "Open Sans Italic";
        color: rgb(84, 82, 79);
        font-weight: bold;
        font-style: italic;
        letter-spacing: 3px;
        text-align: justifyCenter;
        position: absolute;
        left: 218px;
        top: 584.717px;
        width: 271.149px;
        height: 16.143px;
        z-index: 182;
        text-transform: uppercase;
}
  
.button {
    font-size: 25px;
    font-family: "Open Sans Bold";
    color: rgb(119, 108, 100);
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }

button.button {
    position: absolute;
    left: 218px;
    top: 681px;
    z-index: 177;
    border-radius: 30px;
    width: 217px;
    height: 48px;
    border: 0px;
}

.paragraph {
    font-size: 19px;
    font-family: "Open Sans Italic";
    color: rgb(84, 82, 79);
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: 218px;
    top: 746.462px;
    width: 433.226px;
    height: 63.81px;
    z-index: 181;
  }

.letsgo-text {
    text-align: center;
    margin-top: 50px;
}

h2.title {
    font-size: 50px;
    color: rgb(226, 163, 85)
}
  
.letsgo-body {
    font-size: 18px;
    font-family: "Open Sans";
    color: rgb(127, 119, 112);   
}

/*

w 336 h 298



